*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;

}


body{
    background-color: #f3f3f3;

}

/* menu icon style  */

/* // .menu-toggleInput */
.menu-toggleInput {
	display: none;
}

/* // .menu-toggleLabel */
.menu-toggleLabel {
	position: absolute;
	top: 30px;
	right: 30px;
	height: 30px;
	width: 30px;
	display: none;
	cursor: pointer;
	z-index: 1;
}

/* // .menu-toggleBar */
.menu-toggleBar,
.menu-toggleBar::before,
.menu-toggleBar::after {
	height: 2px;
	width: 30px;
	background: #fff;
	position: absolute;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* // .menu --closed (unchecked) */
.menu-toggleBar {
	top: 14px;
	left: 0;
	transition: background .2s .3s, box-shadow .2s .3s;
}

.menu-toggleBar::before {
	content: '';
	top: -8px;
	left: 0;
	transition: transform .3s, top .2s .3s;
}

.menu-toggleBar::after {
	content: '';
	top: 8px;
	left: 0;
	transition: transform .3s ease-in, top .2s .3s;
}

/* // .menu --open (checked) */
.menu-toggleInput:checked + .menu-toggleLabel .menu-toggleBar {
	background: transparent;
	box-shadow: none;
	transition: background .2s, box-shadow .2s;
}


.menu-toggleInput:checked + .menu-toggleLabel .menu-toggleBar::before {
	top: 0;
	transform: rotate(225deg);
	transition: top .2s, transform .3s .2s;
}

.menu-toggleInput:checked + .menu-toggleLabel .menu-toggleBar::after {
	top: 0;
	transform: rotate(315deg);
	transition: top .2s, transform .3s .2s ease-out;
}

/* Menu-list (Not styled)*/
.menu-list {
	display: none;
}

.menu-toggleInput:checked + .menu-toggleLabel + .menu-list {
	display: block;
}



/* scroll bar  */

::-webkit-scrollbar{
    background-color: white;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 10px;
}

/* navbar style  */

nav{
    width: 100%;
    height: 100%;
    padding: 15px 5%;
    background-color:#252525;
    display: flex;
    justify-content: space-between;
    z-index: 111;
}
nav .menu ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;

}
.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    cursor: pointer;
}
.logo h1{
    font-size: 30px;
    margin: 0;
    color: #ffff;
}
.logo p{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 8px;
    letter-spacing: 5px;
    margin-top: -4px;
}
nav img{
    width: 58px;
    margin-right: 10px;
}
nav .menu{
    margin: auto 0;
}
nav .menu ul a{
    margin: 0 10px;

}
nav .menu ul li{
    transition: 1s;
    width: 100%;
    padding: 8px;
    border-radius: 25px;
}
.menu ul a .active{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    width: 150px;
    border-radius: 25px;
    color: #252525;
}
.menu ul a .active:hover{
    margin: 0;
    width: 150px;
    color: white;
    
}

.menu ul a li:hover{
    color: #252525;
    margin: 0 10px;
    width: 100%;
    background-color:  #00ffff;
}

/* conatianer style  */

.container{
    padding: 5% 8%;
    position: relative;
}
.row-1 h1{
    color: #252525;
    margin-bottom: 10px;

}
.row-1 p{
    color: #252525;
    font-weight: 400;

}
.row-1{
    display: flex;
    
}
.col-1,.col-2,.col-3{
    background-color: white;
    box-shadow: 0 0 12px #0000002b;
}
.col-1 img{
    width: 100%;
    margin: auto;
}
.col-1{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.col-1 .btn{
    display: flex;
}
.col-2{
    flex-basis: 55%;
    margin:0 20px;
    padding: 20px;
}


.col-3{
    flex-basis: 20%;
}

.col-3 ul li{
    color: #252525;

}

.col-3{
    text-align: center;
    width: 100%;
}
.col-3 hr{
    width: 80%;
    margin: 0 auto;
}
.col-3 ul li{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    transition: 0.5s;
}
.col-3 ul li:hover{
    color: white;
}
.col-3 ul li:hover {
    background-color: #252525;
    border-radius: 2px;
}

.row-1 button{
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 12px;
    width: 150px;
    background-color: #252525;
    margin: 30px;
    transition: 0.5s;
}
.row-1 button:hover{
    background-color: #00ffff ;
    box-shadow: 8px 8px 11px #00e4fba1;
    transform: translateY(-10px);
}
.row-1 button:hover a{
    color: #252525;
}

/* chapter-box  */

 
.chapter-1,
.chapter-2,
.chapter-3,
.chapter-4,
.chapter-5,
.chapter-6,
.chapter-7,
.chapter-8,
.chapter-9,
.chapter-10{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}
.c-1{
    top: 0;
    position: absolute;
    background-color: #25252564;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);


}
.box p,h1{
    color: #252525;
    margin-bottom: 25px;
}
.box ul li{
    color: #252525;
    list-style: decimal;
}
.box button{
    background-color: #252525;
    color: white;
    width: 150px;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
    border: none;
}
.box{
    background-color: #ffff;
    width: 80%;
    padding: 40px;
    border-radius: 5px;

}



/* responsive design  */

@media (max-width:1007px) {
    

    nav{
        flex-direction: column;
    }

    .menu{
        position: fixed;
        top: 0; 
        left: 0;
        width: 60%;
        height: 100%;
        background-color: #201b1b87;
        z-index: 11111;
        overflow: hidden;
        transition: 0.5s;
        backdrop-filter: blur(3px);
    }
    .menu ul{
        display: block !important;
    }
    .menu ul a li:hover{
        border-radius: 0;
        margin: 0;
    }
    .menu ul a .active{
        width: 100%;
        border-radius: 0;
    }
    .menu-toggleLabel{
        display: block;
    }

    .row-1{
        flex-direction: column;
    }


    .c-1{
        height: 100%;
    }

    .logo h1{
        font-size: 25px;
    }
    .logo p{
        font-size: 5px;
    }
    
    .btn{
        width: 100%;
        justify-content: center;
    }
    .row-1 button{
        font-size: 14px;
        margin: 30px 10px;
    }


    .col-2{
        margin: 20px 0;
    }

    .col-3{
        padding: 20px;
    }
    .col-3 hr{
        width: 100%;
    }
    .col-3 ul li{
        width: 100%;
    }
    .col-3 ul{
        text-align: left;
        
    }

    
    .box{
        width: 90%;
        padding: 20px;
    }

}